body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 95%;
}
.parent {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  height: 360px;
  width: 280px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.top img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 2px;
  object-fit: cover;
}
.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadadd;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
  cursor: pointer;
  height: 25px;
  width: 60px;
  margin-top: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b1b1b1;
}
.center h2 {
  margin: 0px;
  padding: 0px;
}
.center h3 {
  margin: 0px;
  padding: 2px;
  font-weight: normal;
}

.center span {
  color: gray;
  font-size: 12px;
}
.tags {
  display: flex;
  gap: 10px;
}
.tags h5 {
  background-color: #b1b1b1;
  padding: 5px;
  font-weight: normal;
  border-radius: 5px;
}
.bottom h3 {
  padding: 0px;
  margin: 2px;
  padding-top: 5px;
}
.location {
  color: gray;
  font-size: 14px;
}
.bottom button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
