* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, sans-serif;
}
body {
  background-color: black;
}
.navbar {
  background-color: #333;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  color: white;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
